.fa-crown  {
    font-size: 125px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: gold;
}

.fa-anchor {
    font-size: 125px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: blue;
}

.fa-bell {
    font-size: 125px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: red;
}

.fa-carrot  {
    font-size: 125px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: orange;
}

.fa-chess-knight  {
    font-size: 125px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: green;
}