* {
    margin: 0;
    padding: 0;
}


#container{
    transition-timing-function: linear;
    width: 870px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -425px;
    margin-top: 200px;
}





#wittelijn {
    width: 100%;
    height: 2px;
    background-color: white;
    top: 0px;
    position: absolute;
    z-index: 2;
    display: none;
}

#zwartelijn {
    width: 100%;
    height: 3px;
    background-color: black;
    top: 150px;
    position: absolute;
    z-index: 2;
    margin-left: 2px;
    display: none;
}

#score {
    background-color: black;
    height: 75px;
    width: 200px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    justify-content: center;
    display: none;
}





.rij1 {
    left: 10px;
    width: 150px;
    height: 150px;
    transition: 100ms;
    transition-timing-function: linear;
    position: absolute;
}

.rij2 {
    left: 185px;
    width: 150px;
    height: 150px;
    transition: 100ms;
    transition-timing-function: linear;
    position: absolute;
}

.rij3 {
    left: 360px;
    width: 150px;
    height: 150px;
    transition: 100ms;
    transition-timing-function: linear;
    position: absolute;
}


.rij4 {
    left: 535px;
    width: 150px;
    height: 150px;
    transition: 100ms;
    transition-timing-function: linear;
    position: absolute;
}

.rij5 {
    left: 710px;
    width: 150px;
    height: 150px;
    transition: 100ms;
    transition-timing-function: linear;
    position: absolute;
}










#div10 {
    top: -150px;
}

#div11 {
    top: 0px;
} 

#div12 {
    top: 150px; 
} 

#div13 {
    top: 300px;
} 

#div14 {
    top: 450px;
} 

#div15 {
    top: 600px;
} 





#div20 {
    top: -150px;
}

#div21 {
    top: 0px;
} 

#div22 {
    top: 150px;
} 

#div23 {
    top: 300px;
} 

#div24 {
    top: 450px;
} 

#div25 {
    top: 600px;
} 






#div30 {
    top: -150px;
}

#div31 {
    top: 0px;
} 

#div32 {
    top: 150px;
} 

#div33 {
    top: 300px;
} 

#div34 {
    top: 450px;
} 

#div35 {
    top: 600px;
} 




#div40 {
    top: -150px;
}

#div41 {
    top: 0px;
} 

#div42 {
    top: 150px;
} 

#div43 {
    top: 300px;
} 

#div44 {
    top: 450px;
} 

#div45 {
    top: 600px;
} 




#div50 {
    top: -150px;
}

#div51 {
    top: 0px;
} 

#div52 {
    top: 150px;
} 

#div53 {
    top: 300px;
} 

#div54 {
    top: 450px;
} 

#div55 {
    top: 600px;
} 











#button {
    font-weight: 900;
    font-size: 40px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;
    position: absolute;
    top: 500px;
    right: 50%;
    margin-right: 20px;
    display: none;
}

#buttonStop {
    font-weight: 900;
    font-size: 40px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;
    position: absolute;
    top: 500px;
    left: 50%;
    margin-left: 20px;
    display: none;
}

